<div id="content">
  <div class="content-background"></div>
  <div class="page">
    <div class="page-background"></div>
    <div class="page-sections">
      <div class="anchor" id="accommodations"></div>
      <div class="location-section">
        <div class="location-section-background"></div>
        <div class="location-section-title-border-top"></div>
        <div class="location-section-title">Accommodations</div>
        <div class="location-section-title-border-bottom"></div>
        <p class="location-section-description"></p>
        <div class="location-section-items">
          <div class="location-item">
            <div class="location-title item-title">DoubleTree by Hilton Cariari San Jose</div>
            <div class="location-image-container">
              <img class="location-image" src="//media.front.xoedge.com/images/67075f64-332c-4324-bf75-48f9a1026bc4~rt_-cr_"/></div>
              <div class="location-address">
                1, Belén, Heredia, Costa Rica<br/>+506-2-239-0022
              </div>
              <div class="location-description">
                <p>This is the Hotel where the Reception will take place, it has been arranged so our Guests get a very nice discount with their stay.</p>
                <p>Make sure to mention on your reservation that you are a guest of the Wagner - Sibaja wedding.<br></p>
              </div>
              <div class="location-button-container">
                <a href="http://doubletree3.hilton.com/en/hotels/costa-rica/doubletree-by-hilton-hotel-cariari-san-jose-costa-rica-SJODTDT/index.html" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#0251484d46562c466d77606e67767067674163706b63706b426a6b6e766d6c2c616d6f">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Wyndham San José Herradura</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/dd215640-5804-4aef-a570-53104f321136~rt_-cr_"/>
              </div>
              <div class="location-address">
                Autopista General Cañas, San Jose, Heredia Province, Costa Rica<br/>+(506)2209-9800
              </div>
              <div class="location-description">
                <p>This is the closest hotel to the Hilton Cariari where the Reception will take place.</p>
              </div>
              <div class="location-button-container">
                <a href="http://www.wyndhamherradura.com/SJOaiporthotel-en.html" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#533425363d27322013242a3d373b323e3b36212132372621327d303c3e">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Hotel Bougainvillea</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/8f0ba740-7dd2-44d3-b62f-b77c793bcd30~rt_-cr_"/>
              </div>
              <div class="location-address">
                Contiguo a la Escuela, Santo Tomás, 40302, Costa Rica<br/>1-866-880-5441
              </div>
              <div class="location-description">
                <p>This hotel is located in the town where Tania used to live and where her family lives, and it's the closest hotel to the Church in Santo Domingo where the ceremony will be officiated.<br></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.hb.co.cr" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
          </div>
        </div>
        <div class="section-separator"></div>
        <div class="anchor" id="things-to-do"></div>
        <div class="location-section">
          <div class="location-section-background"></div>
          <div class="location-section-title-border-top"></div>
          <div class="location-section-title">Things to Do</div>
          <div class="location-section-title-border-bottom"></div>
          <p class="location-section-description"></p>
          <div class="location-section-items">
            <div class="location-item">
              <div class="location-title item-title">
                Baldi Hot Springs Resort Hotel &amp; Spa
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/94fd3dcb-db99-42ab-86dc-c325af770fab~rt_-cr_"/>
              </div>
              <div class="location-address">
                La Fortuna, Alajuela, Costa Rica<br/>+(506) 2479-2190
              </div>
              <div class="location-description">
                <p> Baldi <strong>Hot Springs</strong> Hotel and Spa is located in the heart of Costa Rica, at the base of the Arenal Volcano in La Fortuna, San Carlos. </p>
                <p> This is the perfect family get away that offers 25 thermo mineral hot water pools flowing naturally from the base of the volcano. </p>
              </div>
              <div class="location-button-container">
                <a href="https://www.baldihotsprings.cr/" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Montaña De Fuego Resort &amp; Spa
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/64b3c27c-bc1e-48dd-a0ad-efbaf4682f0e~rt_-cr_"/>
              </div>
              <div class="location-address">
                La Fortuna, Alajuela, Costa Rica<br/>+(506) 2479-1220
              </div>
              <div class="location-description">
                <p>Just on the foot of the Arenal Volcano stands Montaña de Fuego Resort &amp; Spa, a hotel inspired by its great natural environment, surrounded by 35 hectares of tropical forest on a private reserve enriched by an exuberant vegetation and diverse fauna.<span></span></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.montanadefuego.com/" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#234a4d454c634e4c4d57424d424746455646444c0d404c4e03">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Nayara Hotel Spa &amp; Garden Fortuna
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/a34983b4-76da-4115-bf18-c5ae1f66e8c9~rt_-cr_"/>
              </div>
              <div class="location-address">
                7 Kilometer West Fortuna, Costa Rica<br/>1-888-332-2961
              </div>
              <div class="location-description">
                <p><span class="capital">N</span>ayara Hotel &amp; Gardens is a luxury boutique hotel located in the area of the Arenal Volcano National Park that is widely recognized for providing luxurious accommodations and premium amenities.</p>
                <p>A 5-star member of Small Luxury Hotels of the World, Nayara has been acclaimed as one of the most romantic places in the world. Their heartfelt hospitality, impeccable service, fine cuisine, outstanding spa, amazing excursions and eco-experiences make Nayara the premier destination in Costa Rica.</p>
              </div>
              <div class="location-button-container">
                <a href="http://www.arenalnayara.com/" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#c1a8afa7ae81afa0b8a0b3a0a9aeb5a4adb2efa2aeac">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Tabacon Grand Spa Thermal Resort</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/b8b69d9f-249c-4f9c-9775-b195edeaf208~rt_-cr_"/>
              </div>
              <div class="location-address">
                13 Km Noreste de Centro de la Fortuna de San Carlos, Nuevo Arenal, Costa Rica<br/>1-855-822-2266
              </div>
              <div class="location-description">
                Tabacon Grand Spa offers the unique combination of the energy of the Arenal Volcano, the heat of the Tabacon Hot Springs and the purity and mystic of the surrounding rainforest blend into what many have described as "paradise" or "the eight-wonder of the world". The four elements of nature are present in this unique Arenal Volcano luxury hotel and resort, featuring the heat of the volcano, the flowing waters of the hot springs, the pure air of the rainforest and the fertile earth of the of the Fortuna de San Carlos Region.Tabacon Grand Spa Thermal Resort is a 102 guest room Costa Rica luxury hotel located at the base of the Arenal Volcano.
              </div>
              <div class="location-button-container">
                <a href="http://www.tabacon.com/" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#1665777a736556627774777579783875797b">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Hacienda Pinilla Beach Club</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/432b88c3-1945-4e85-b752-ee7bc92a91ef~rt_-cr_"/>
              </div>
              <div class="location-address">Guanacaste, Costa Rica<br/>1-888-9-746-4552</div>
              <div class="location-description">
                <p>With three-miles of unspoiled Guanacaste Province and Nicoya Peninsula coastline, Hacienda Pinilla's 4,500 acres of historic ranch property, pristine beaches, and untouched natural landscapes offer both homeowners and guests room to roam and experience total tranquility and endless adventure. <em>Hacienda Pinilla</em> is an exclusive resort community boasting three of Costa Rica's best beaches. <span></span></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.haciendapinilla.com/" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#327b5c545d727a53515b575c5653625b5c5b5e5e531c515d5f">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Hotel RIU Guanacaste</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/73bf8627-d4ac-46b8-a8b2-a9b7f25be2f6~rt_-cr_"/>
              </div>
              <div class="location-address">
                Playa Matapalo - Sardinal, Costa Rica<br/>+(506) 26812300
              </div>
              <div class="location-description">
                <p>The recently built 5 star complex of the <strong>Hotel Riu Guanacaste (24h All Inclusive)</strong>, is situated in <a href="http://www.riu.com/en/Paises/costa-rica/guanacaste/index.jsp">Guanacaste, Costa Rica</a> in a seafront location on Mata Palo Beach. <span></span></p>
                <p>From its prime location, the hotel offers a <strong>wide range of activities </strong><strong>on its beautiful beaches</strong> such as diving or fishing in the Pacific Ocean and ecotourism in the volcanic regions. During the day, we also offer you several entertainment programs for all ages, whether you're travelling with your family, as a couple or with friends. The hotel includes a gym, table tennis, volleyball, a tennis court, windsurfing, sailing, snorkelling, kayaking and other water activities. If your favourite sporting activity is Golf, the Four Seasons golf club boasts fantastic views over the ocean and a challenging course. <span></span><br><span></span></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.riu.com/en/Paises/costa-rica/guanacaste/hotel-riu-guanacaste/index.jsp" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#740611171104001d1b1a5a1301151a15171507001134061d015a171b19">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Hotel Villas Playa Samara
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/48edcce0-82ee-422d-bf7c-1c713a785d93~rt_-cr_"/>
              </div>
              <div class="location-address">
                Playa Samara - Guanacaste, Costa Rica<br/>+(506) 2656-1111
              </div>
              <div class="location-description">
                <p><strong>Samara</strong> <strong>Beach</strong> is one of the most pristine beaches in Costa Rica, and as such is regarded as one of the most beautiful areas in the region. Our 7 kilometers of white sandy beach has been presented with the highly regarded <strong>Blue Flag Award.</strong> </p>
                <p>This award has been given to only the cleanest and best persevered beaches in the country. <strong>Hotel Villas Playa Samara</strong> has made a commitment to preserve the natural surroundings and wildlife with over 1.4 million square feet of land around the <strong>Beach Hotel </strong>providing local wild life with their natural habitat this land has been kept undeveloped by our management to ensure that our guest have a chance to enjoy the natural beauty that is <strong>Costa Rica.</strong><span></span><br></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.villasplayasamara.com/" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">Monteverde Canopy Tour</div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/bd5da225-f856-4bc0-a073-544b0d394675~rt_-cr_"/>
              </div>
              <div class="location-address">
                Carretera a Reserva de Monteverde, Monteverde, Puntarenas, Costa Rica<br/>1 - (888) 371-0214
              </div>
              <div class="location-description">
                <p>While there are numerous canopy tours throughout Costa Rica, the most famous happen to be in the <a href="http://www.monteverdeinfo.com/">Monteverde</a> area. <a href="http://www.monteverdeinfo.com/canopy/tour.htm">Sky Trek</a> and <a href="http://www.monteverdeinfo.com/canopy/selvatura/index.html">Selvatura</a> are two of the most established canopy companies in the entire country, and each offers its visitors a unique and memorable experience.<span></span></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.monteverdeinfo.com/canopy/costa-rica-canopy.htm" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Monteverde Hidden Valley Night Tour
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/a2543f25-9bb1-4531-8fd6-5d4d12884416~rt_-cr_"/>
              </div>
              <div class="location-address">
                Carretera a Reserva de Monteverde, Monte Verde, Costa Rica<br/>1-888-456-3212
              </div>
              <div class="location-description">
                The tour begins at 5:30 PM, just before nightfall, when the creatures are just beginning to wake up. In addition to a flashlight, each participant is given an animal-identification card. These cards explain the various creatures they're likely to see, and will help tour takers spot and recognize the various animals, insects and amphibians within the reserve. These include snakes, spiders (most notably, hole-dwelling tarantulas), blue-crowned mot mots, agoutis, porcupines, tree frogs, and more. Naturalist guides will explain the reason that these creatures' habits (most of which involve feeding or breeding) are best suited for the dark.
              </div>
              <div class="location-button-container">
                <a href="http://www.monteverdeinfo.com/hidden-valley-night-tour/hidden-valley-night-tour.html" rel="nofollow" target="_blank">
                  <button>Visit Website</button>
                </a>
                <a href="/cdn-cgi/l/email-protection#650c0b030a25080a0b110013001701000c0b030a4b060a08">
                  <button>Email</button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Monteverde Coffee Tour
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/b3248409-9856-4338-9649-6cb8c2803bb9~rt_-cr_"/>
              </div>
              <div class="location-address">
                Carretera a Reserva de Monteverde, Monte Verde, Costa Rica<br/>1-888-456-3212
              </div>
              <div class="location-description">
                <p>The tour begins with a brief explanation of the region's history, a story that involves the evolution from a rugged frontier land into an expansive community of settlers, farmers, scientists, conservationists, and yes, coffee producers.</p><p>The tour then descends some 500 feet down "La Trocha" – a steep road with sweeping views of the Gulf of Nicoya – into the <a href="http://www.monteverdeinfo.com/san_luis_valley.htm">San Luis Valley</a>, where the crops of coffee are grown. A local farmer will speak with the tour group and explain the harvesting process and how the fruit is graded for quality. Participants can pick and taste the ripe coffee berries, a shade-grown Arabica variety of bean. The tour will then continue on through some of the cooperative's other sustainable crops, including bananas, plantains, oranges and limes.</p><p>The processing mill, or beneficio, is the next stop. Here, the seed is separated from the fruit and dried in the sun. Once fully dried, the beans are then roasted and exported.</p><p>Finally, the tour ends at the coffee shop, where participants are invited to taste a variety of roasts and if so inclined, purchase a pound or two of fresh coffee.</p><p>Those that choose to take the 4-hour tour will additionally visit the fertilizer and paper making plants, and learn about the sustainable relationship between these two products.</p></div><div class="location-button-container"><a href="http://www.monteverdeinfo.com/cafe-monteverde-coffee-tour/" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#bdd4d3dbd2fdd0d2d3c9d8cbd8cfd9d8d4d3dbd293ded2d0"><button>Email</button></a></div></div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Almonds and Corals
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/a53a17f8-280f-4eb2-aa88-d35195f8ebf9~rt_-cr_"/>
              </div>
              <div class="location-address">
                Manzanillo, Limon, Costa Rica<br/>1-888-373-9042
              </div>
              <div class="location-description">
                Almonds and Corals, nestled amongst the exuberant jungle of Gandoca Manzanillo Wildlife Refuge in Costa Rica, offers three in one unique destinations, because it is part an exclusive Caribbean beach resort, part a safari camp and part an eco-conscious boutique hotel. The owners are devoted to offer one-of-a-kind accommodations awaiting your arrival and a unique sensory experience that promotes harmony between inner and outer self.</div><div class="location-button-container"><a href="http://www.almendrosycorales.com/" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#2b42454d446b4a474644454f584a454f4844594a475805484446"><button>Email</button></a></div></div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Hotel Finca Rosa
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/691d4b25-4c11-4952-a6f5-e0bc6d199d7d~rt_-cr_"/>
              </div>
              <div class="location-address">
                San Rafael, Heredia Province, Costa Rica<br/>1-(305) 395 3042
              </div>
              <div class="location-description">
                <p>The Finca Rosa Blanca Resort is a coffee farm plantation and luxurious inn that crowns the central valley mountain highlands of Costa Rica. Located only a short distance from the San Jose International Airport, it has long offered eco-travelers a luxurious, sustainable boutique hotel experience. Finca Rosa Blanca offers an incomparable lodging experience with three extraordinary Master Suites and Villas and eleven elegant Junior Suites. All of our well-appointed rooms include Jacuzzi baths, King beds with exotic bamboo linens as well as private verandas overlooking the green Central Valley, the volcanoes above, and secluded patios surrounded by tropical gardens and flowers.<span></span></p></div><div class="location-button-container"><a href="https://www.fincarosablanca.com/en/" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#d0b9beb6bf90b6b9beb3b1a2bfa3b1b2bcb1beb3b1feb3bfbd"><button>Email</button></a></div></div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                Pacuare River One Day Trip
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/204b3d9c-cfd4-4b01-8dd2-c6a10a3427aa~rt_-cr_"/>
              </div>
              <div class="location-address">
                Rio Pacuare, Costa Rica<br/>1-866-722-8273
              </div>
              <div class="location-description"
              >Pacuare River One Day Trip (Class III-IV): Located on Costa Rica's caribbean slope, the Pacuare River borders the Talamanca mountain range, home to native Cabecar Indians and an incredible variety of wildlife, including parrots, toucans, deer, jaguars, ocelots, monkeys, butterflies, and more. Add in the exciting Class III-IV whitewater rapids and you have a tropical adventure packed with rich experiences that last long after you've returned home. You'll raft from San Martin to Siquirres for 19 miles on exciting Class III-IV whitewater.</div><div class="location-button-container"><a href="http://www.riostropicales.com/index.php/adventure-travel/whitewater-rafting/pacuare-river-day-trip" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#6c05020a032c1e05031f181e031c050f0d00091f420f0301"><button>Email</button></a></div></div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                One Day Trip : Punta Coral Private Reserve Cruise
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/1dc31d50-b2af-48c0-a005-c8811c943000~rt_-cr_"/>
              </div>
              <div class="location-address">
                Manuel Antonio, Quepos, Puntarenas, Costa Rica<br/>1-855-855-1975
              </div>
              <div class="location-description">
                <p>The day starts when the tour's air-conditioned bus picks you up at your hotel in San Jose, Jaco or Quepos / Manuel Antonio. The guide explains the scenery, interspersing his comments with anecdotes from Costa Rica's history as well as facts about the country. A typical Costa Rican breakfast is served at their private restaurant El Shrimp Shack and where you will board the State-of-the-Art Catamaran Manta Raya for the 45 minute cruise to Punta Coral.<br> </p><p>At Punta Coral , a superb seafood lunch with chilled white wine is served. Dine in casual elegance in their covered dining area overlooking the ocean. In the afternoon, explore more of this beautiful paradise by sea kayak, take a refreshing swim in the calm waters surrounding the reserve, explore the forest with a hike on our easy to walk trails or simply relax in the shady palms thatched hammock area and enjoy the tropical breeze on this exciting One Day Tour.</p><p>This delicate eco-system is a small part of the last 2% of Tropical Dry Forest remaining in the world today. </p></div><div class="location-button-container"><a href="http://www.calypsocruises.com/About_us/Punta_Coral/" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#d3babdb5bc9390b2bfaaa3a0bc90a1a6baa0b6a0fdb0bcbe"><button>Email</button></a></div></div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                One Day Trip: Isla Tortuga Tour
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/bd0a4e17-c239-481c-8813-0cf7af30690d~rt_-cr_"/>
              </div>
              <div class="location-address">
                Isla Tortuga, Costa Rica<br/> +1-855-855-1975
              </div>
              <div class="location-description">
                <p>Spend a wonderful day at the beautiful white sand beach of Tortuga Island, riding on the world class catamaran Manta Raya, eating a gourmet meal featured in Gourmet Magazine. Returning to port in the afternoon, Calypso's Captain will escort his passengers on a tour of exploration of the islands in the Gulf of Nicoya, important to not only foreign travelers to see and learn more of Costa Rica's history but also for national tourism and those who want to see up close, maybe for the first time, the beautiful and protected uninhabited islands and bird sanctuaries in the Gulf of Nicoya accessible only by water.<span></span></p></div><div class="location-button-container"><a href="http://www.calypsocruises.com/About_us/Tortuga_Island/" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#2841464e47686b494451585b476b5a5d415b4d5b064b4745"><button>Email</button></a></div></div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                One Day Trip: Scuba Diving Adventure
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/bfeb849c-0a08-442c-8755-5d94417cefc9~rt_-cr_"/>
              </div>
              <div class="location-address">
                Pacific Coast, Costa Rica<br/>+1-855-855-1975
              </div>
              <div class="location-description">
                <p>The central Pacific Ocean of Costa Rica is home to many different reefs. The majority of reefs are made of volcanic and coral formations with depth ranging between 8 to 35 meters (25 - 115 feet). There are several dive sites at Tortuga Island and nearby. The site will be determined by the currents and visibility. There is amazing variety of tropical fish such as Blue Spotted Jacks, several species of moray eel, Manta Rays, Spotted Eagle Rays, Puffer fish and many others.</p><p>The temperature of the water varies between 24 and 26 degrees Celsius (78°-82°) with a visibility ranging from 5 to 30 meters (16- 100 feet) depending on the season. Tortuga Island is famous for its excellent visibility and large variety of fish and corals. Isla Tortuga Diving Club is the only CMAS Diving Center-School in Costa Rica. It offers its service on board the comfortable 32' Dive Boat Garabito.</p><p>Complete dive packages are available including CMAS Course (World Confederation of Underwater Activities) with international license. For the more adventurous people, they offer a "Discovery Course". This is an excellent opportunity for those who are diving for their first time or for anyone who is uncertified and would like to have the experience of diving underwater.</p></div><div class="location-button-container"><a href="http://www.calypsocruises.com/special_tours/diving/" rel="nofollow" target="_blank"><button>Visit Website</button></a><a href="/cdn-cgi/l/email-protection#4e272028210e0d2f22373e3d210d3c3b273d2b3d602d2123"><button>Email</button></a></div></div><div class="location-separator"></div></div></div><div class="section-separator"></div></div></div></div><div class="theme-image-container-bottom"><div class="theme-image-bottom"></div></div></div>
